
<form (ngSubmit)="saveBookDetails(ngForm)" #ngForm=ngForm autocomplete="off">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="defaultBookDetails.title" name="title" placeholder="Enter book title" required #n=ngModel>
    <div *ngIf="!n.valid">Name should not be blank</div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="defaultBookDetails.email" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" [(ngModel)]="defaultBookDetails.price" name="price" placeholder="Enter book price">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="defaultBookDetails.author" name="author" placeholder="Enter Author Name">
  </div>

  <button class="btn btn-success">Submit</button>
</form>

<button (click)="loadBookDetails()" class="btn">Load</button>

<section>
  {{dataFromServer | json}}
</section>
