
<form autocomplete="off" novalidate [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{ 'has-danger': title.invalid && title.dirty, 'has-success': title.valid && title.dirty }">
    <span *ngIf="formGroup.get('title').errors['reservedTitle']">Reserved Title Custom Error</span>
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter book title" formControlName="title">
  </div>

  <div class="form-group" [ngClass]="{ 'has-danger': email.invalid && email.dirty, 'has-success': email.valid && email.dirty }">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">

    <pre>Dirty? {{ formGroup.controls.email.dirty }}</pre>
    <pre>Pristine? {{ formGroup.controls.email.pristine }}</pre>
    <pre>Touched? {{ formGroup.controls.email.touched }}</pre>
    <pre>Valid? {{ formGroup.controls.email.valid }}</pre>
    <pre>Invalid? {{ formGroup.controls.email.invalid }}</pre>
  </div>
  <div class="form-group" [ngClass]="{ 'has-danger': price.invalid && price.dirty, 'has-success': price.valid && price.dirty }">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price"  placeholder="Enter book price" formControlName="price">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"  placeholder="Enter Author Name" formControlName="author_name">
  </div>

  <button class="btn btn-success">Submit</button>
</form>

<button (click)="loadBookDetails()" class="btn">Load</button>

<section>
  {{dataFromServer | json}}
</section>
